@import url('https://fonts.googleapis.com/css?family=Quicksand');

body{margin: 0px;
font-family: 'Quicksand', sans-serif;
letter-spacing: 1px;
}

#divseed{
    width: 100%;
    height: 700px;
    background: url('../img/landing/seed_f_p_main_01.png');
    background-size: cover;
    position: relative;
    clear: both;
}

#img{
    width: 94px;
    height: 94px;
    background-color: orange;
    position: fixed;
    z-index: 1;
    margin: 60px 0px 0px 60px; 
}

#h1{
    margin: 0px;
    padding: 80px;
    padding-left: 172px;
    color: white;
    font-size: 40px;
}
#seedh1{
    box-sizing: border-box;
    padding-top: 40px;
    color: white;
    padding-left: 264px;
    margin: 0px;
    font-size: 60px; 
}

/*Read More Button*/

.button {
    margin: 5px;
    margin-top: 40px;
    margin-left: 264px;
  display: inline-block;
  border-radius: 40px;
  background-color: #677c0e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
  vertical-align:middle;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
    font-size: 30px;
    vertical-align: top;
    line-height: 15px;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/*Read More Button end*/

#menu{
    position: absolute;
    color: white;
    top: 80px;
    right: 0px;
}

#menu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#menu li{
    padding-top: 20px;

}

#menu li:first-child{
    padding-top: 0px;
    /*    margin-top: 40px;*/
}

/* LIST BUTTONS */

#menu button{
    background-color: #677c0e;
    border-radius: 40px 0px 0px 40px;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: #FFFFFF;
    outline: none;
}

#butt{
    width: 150px;
    font-size: 18px; 
}

#seedfer{
    width: 300px;
    font-size: 18px; 
}
#soilfer{
    width: 300px;
    font-size: 18px;
}
#midhar{
    width: 220px;
    font-size: 18px;
    margin-left: 80px;
}
#cow{
    width: 160px;
    font-size: 18px;
    margin-left: 140px;
}
#crop{
     width: 180px;
    font-size: 18px;
    margin-left: 120px;
}
#rice{
    width: 260px;
    font-size: 18px;
    margin-left: 40px;
}

#strip{
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: 0px;
    left: 0;
    background: url("../img/strip1.png");
    background-repeat: repeat;
    Clear:both;
}

#soil{
    width: 100%;
    height: 700px;
    background: url('../img/landing/soil_f_p_main_01.png');
    background-size: cover;
    position: relative;
    clear:both;
}

#soilh1{
/*    box-sizing: border-box;*/
    margin: 264px;
    padding-top: 264px;
    color: white;
    padding-left: 264px;
    margin: 0px;
    font-size: 60px;   
}

#harvest{
    width: 100%;
    height: 700px;
    background: url('../img/landing/mid_h_c_main_01.png');
    background-size: cover;
    position: relative;
    clear: both;
}

#cowcrop{
    width: 100%;
    height: 700px;
    background: url('../img/landing/cow_crop_01.png');
    background-size: cover;
    position: relative;
    clear: both;    
}

#coww{
    width: 50%;
    float: left;
    height: 700px;
    color: white;
/*    background-color: red;*/
    
}

#ch1{
    padding-top: 300px;
    padding-left: 100px;
    margin-bottom: 40px;
    font-size: 60px;
    margin-top: 0px;
}

#divrice{
    width: 100%;
    height: 700px;
    background: url('../img/landing/rice_b_main_01.png');
    background-size: cover;
    position: relative;
    clear: both;
}

footer{
    width: 100%;
    height: 320px; 
    background-color: #677c0e;
    color: white;
} 

footer h3{
    margin: 0px;
    text-align: center;
    line-height: 30px;
}

footer img{
    display: block;
    margin: auto;
    margin-top: 10%;
}
.fotdiv{
    width: 33%;
    height:200px;
    float: left;
    margin: 2px;
}

#fop{
    text-align: center;
    font-size: 12px;
    margin: 0px;
}

#ul{
   float:right;
    position:relative;
    left:-50%;
    text-align:left;
}

#ul ul{
    list-style:none;
    position:relative;
    left:50%;
}

#fou{
    font-size: 12px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#fou li{
    float: left;
    padding-top: 10px;
    padding-left: 30px;    
}
